@import "../../sass/partials/variables";
@import "../../sass/partials/mixins";

.guest-count {
  font-weight: bold;

  > div {
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > h4 > i {
      color: $color-success;
    }
  }

  .btn-action {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      cursor: pointer;
      @include bordered(border, 1px, $color-success);
      border-radius: 50%;

      &:nth-child(1) {
        padding: 0.9rem 0.5rem;
      }

      &:nth-child(3) {
        padding: 0.5rem;
      }

      &:hover {
        transform: scale(1.2);
        transition: all 1s;
      }
    }

    span {
      margin: 0.5rem;
      font-size: 1.3rem;
    }
  }

  .submit-btn {
    display: flex;
    justify-content: flex-end;
  }
}
