.search-area {
	input {
		border: none;
		outline: none;
	}
}

.guest-count {
	> div {
		margin-bottom: 0.7rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.btn-action {
		display: flex;
		justify-content: space-between;
		align-items: center;

		img {
			cursor: pointer;
		}

		span {
			margin: 0.5rem;
			font-size: 1.3rem;
		}
	}

	.submit-btn {
		button {
			margin-left: auto;
			border: 1px solid #2bde8c;
			border-radius: 0.8rem;
			color: #2bde8c;
			text-transform: uppercase;
			padding: 0.8rem 1.8rem;
			background: transparent;
		}
	}
}
