.search-area {
	border: 1px solid lightgray;
	padding: 1rem;

	.search-box {
		border: none;
		outline: none;
	}
}

.guest-count {
	> div {
		margin-bottom: 0.7rem;
		display: flex;
		justify-content: space-between;
	}

	.btn-action {
		display: flex;
		justify-content: space-between;

		.decrement-btn,
		.increment-btn {
			width: 2rem;
			font-size: 1.3rem;
			border: none;
			outline: none;
			background: transparent;
		}

		span {
			margin: 0.5rem;
			font-size: 1.3rem;
		}
	}
}

.submit-btn {
	display: flex;
	justify-content: flex-end;

	button {
		border: 1px solid greenyellow;
		border-radius: 0.8rem;
		color: greenyellow;
		text-transform: uppercase;
		padding: 0.8rem 1.8rem;
		background: transparent;
	}
}
