.img-container {
	width: 14rem;

	.imga {
		display: block;
		max-width: 90%;

		img {
			display: block;
			max-width: 100%;
		}
	}
}

.imga-container {
	width: 18.8rem;

	.imga {
		display: block;
		max-width: 90%;

		img {
			display: block;
			max-width: 100%;
		}
	}
}
