.experiences-data-container {
	.experiences-data {
		display: block;
		max-width: 100%;

		img {
			display: block;
			max-width: 100%;
		}
	}
}

.homes-data-container {
	.homes-data {
		display: block;
		max-width: 100%;

		img {
			display: block;
			max-width: 100%;
		}
	}
}
