.pricing-card {
  > div:nth-child(1) {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }

    div {
      display: flex;

      img {
        max-width: 60%;
        max-height: 60%;
        min-width: 90%;
      }
    }
  }

  .dropdown-area {
    > div {
      border: 1px solid lightgray;
      border-radius: 1rem;
      padding: 0.7rem;
    }

    .guests-item {
      border-bottom: 1px solid #dfdfdf;

      &:last-child {
        border: none;
      }
    }
  }

  .pricing-area {
    div {
      border-bottom: 1px solid #dfdfdf;
      padding: 10px 20px 5px 0;

      &:last-child {
        border: none;
        h6 {
          font-weight: 600;
        }
      }
    }
  }
}
