$brandText1: 2.5rem; //h1-40px
$brandText2: 1.625rem; //h2-26px
$brandText3: 1.5rem; //h3-24px
$brandText4: 1.125rem; //h4-18px
$brandText5: 1.0625rem; //h5-17px
$brandText6: 1rem; //h6-16px
$brandText7: 0.875rem; //p-14px
$brandText8: 0.6875rem; //p-11px
