// theme
$current-theme: dark;

// colors
$color-dark-bg: #3b3b41;
$color-light-bg: #f3f3f3;
$color-dark-border: #5250507e;

$color-light: #a2a5b9;
$color-dark: #1d2129;
$color-primary: #385898;
$color-danger: red;
$color-success: green;

$color-chocolate: #b98160;
$color-vanilla: #fae8b6;
$color-strawberry: pink;
$color-orange: orange;
$color-lemon: #5fd592;
$color-tan: tan;

// font
$font-base-size: 1rem;
$font-base-family: "Fira Mono", monospace, sans-serif;
$font-largest-size: 2.5rem;
$font-second-size: 1.625rem;
$font-third-size: 1.5rem;
$font-fourth-size: 1.125rem;
$font-fifth-size: 1.0625rem;
$font-smallest-size: 0.875rem;

//size
$base-size: 1rem;
